html {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  overflow: auto;
}
body {
  width: 96%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border: 1px solid;
  overflow: inherit;
  background-color: #fff;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
}
h3 {
  margin: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
nav {
  width: 100%;
}
nav ul {
  text-align: center;
  margin: 0 0 0 0;
  padding-left: 0;
}
nav ul li {
  list-style-type: none;
}
nav ul li {
  width: 25%;
  background: rgb(217, 172, 52);
}
a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  width: 20%;
  float: left;
}
nav ul li a {
  font-size: large;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
nav ul li a:hover,
nav ul li a:focus {
  color: firebrick;
}
a {
  text-decoration: none;
}
#logo {
  margin-top: 15px;
  padding-top: 10%;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

#textbox {
  text-align: center;
  border: 1px solid #848484;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid #848484;
  outline: 0;
  height: 25px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  float: left;
  text-align: center;
  width: 100%;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: rgb(62, 13, 4);
}
footer img {
  margin: 0;
  width: 4%;
}
footer p {
  margin: 0;
  color: rgb(255, 255, 255);
}
